
.Ex-container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto; }



/* Buttons
  =============== */
.Ex-button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #0366EE;
  border-radius: 4px;
  background: #0366EE;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1; }

.Ex-button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none; }

.Ex-button:focus, .Ex-button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none; }

.Ex-button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0; }


.Ex-label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 .5rem;
}

/* Tables
  =============== */
.Ex-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%; }

.Ex-thead .Ex-th {
  border-bottom: 2px solid #dedede; }

.Ex-tbody .Ex-tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.Ex-tfoot .Ex-th {
  border-top: 2px solid #dedede; }

.Ex-td {
  border-bottom: 1px solid #dedede; }

.Ex-th,
.Ex-td {
  text-align: left;
  padding: .5rem; }
  